*.log
*.pot
*.pyc
__pycache__/
firebase-functions/
functions/
db.sqlite3
node_modules/
.env
.venv/
env/
venv/
virtual_pulsfot/
media/
static_root/
staticfiles/
virtualenv_pulsfot/
fine_tuned_distilgpt2_model/
venv/
env/
.venv/
firebase_key.json
fine_tuned_distilgpt2_model/
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
static_root/
staticfiles/
.DS_Store
Thumbs.db
.idea/             # PyCharm
.vscode/           # VS Code
*.sublime-project
*.sublime-workspace
cd
ngrok
npm
logs/
.DS_Store
Thumbs.db
.idea/             # PyCharm
.vscode/           # VS Code
*.sublime-project
*.sublime-workspace
fine_tuned_distilgpt2_model/ # Ignorar la carpeta completa del modelo si es grande y no quieres subirla